@{
    ViewBag.Title = "Concept";
}

<div class="jumbotron">
    <h1 class="text-center"><b>Favor</b> Concept</h1>
    <br/>
    <div class="text-center">
        <p>Our idea is simple. To provide you with the fastest way to find the right person for the job that needs to be done!
            How everything started? It started one day, when we couldn't find a person to do a current job for us.
            We talked and discussed how many sites are out there, but none of them has trade-offering only selling and buying stuff. 
            There you can't find a person to do some home repair or to walk your dogs every day or just to do some other kind of job for you.
            So we had the idea and we started to work on it.</p>
    </div>
</div>


<p><a class="btn btn-primary btn-round pull-right" href="/Home/Index">Back</a></p>
