@{
    ViewBag.Title = "Concept";
}

<div class="jumbotron">
    <h1 class="text-center"><b>Favor</b> Concept</h1>
    <p>Our idea started one day when we couldn't find a person to do a current job for us.
        We talked and discussed how many sites are out there but none of them offer favors. They are mostly for selling and buying stuff. You can't find a person to do some home repair or do some other kind of job. So we had the idea and started to work on it.
    
    our idea is simple. to provide you with the fastest way to find the right person for the job you need to be done.
    </p>
</div>


<p><a class="btn btn-primary btn-round" href="/Home/Index">Back</a></p>
