@{
    ViewBag.Title = "Contact";
}

<div class="card">
    <br />
    <br />
    <br />
    <h4 class="text-center">Inform <b>Favor</b> staff for anything that concerns you</h4>
    <br />
    <div class="col-md-6 col-md-push-3 input text-center">

        <div class="input-group col-md-6 col-md-push-3 input text-center">
            <div class="form-group">
                <input class="form-control text-center" name="Title" placeholder="Enter title here" type="text">
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-addon">
                <textarea class="form-control text-center" name="Description" rows="6" cols="50" placeholder="Enter your message here"></textarea>
            </span>
        </div>

        <div class="form-group">
            <div style="margin-left: 200px">
                <input type="submit" value="Send Message" class="btn btn-default pull-left" />
            </div>
        </div>
    </div>
</div>
