@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    @if (!this.User.Identity.IsAuthenticated)
    {   <h1>Favor service</h1>
        <p class="lead"><strong>Favor</strong> is an online platform which provides the most amazing offer-trading experience in the world built through an awesome community</p>
        <p class="text-center">100% satisfaction guarantee <i class="material-icons">done_all</i></p>
        <hr />
        <div class="text-center"><p><a href="/Account/Login" class="btn btn-primary btn-lg">Continue &raquo;</a></p></div>
    }
    else
    {<h1 class="text-center">Welcome to <b>Favor</b></h1>
    <p class="lead text-center">We hope you will enjoy your stay here and find what you are looking for.</p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Idea</h2>
        <p>
            We all know how hard is to find exacly what you are looking for despite all those web sites with advertisements. So we from <strong>Favor</strong> want to give you the fastest way to find the person for the job or for you to make some cash.

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>