@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    @if (!this.User.Identity.IsAuthenticated)
    {   <h1>Favor service</h1>
        <p class="lead"><strong>Favor</strong> is an online platform which provides the most amazing offer-trading experience in the world built through an awesome community</p>
        <p class="text-center">100% satisfaction guarantee <i class="material-icons">done_all</i></p>
        <hr />
        <div class="text-center"><p><a href="/Account/Login" class="btn btn-primary btn-lg">Continue &raquo;</a></p></div>
    }
    else
    {<h1 class="text-center">Welcome to <b>Favor</b></h1>
    <p class="lead text-center">We hope you will enjoy your stay here and find what you are looking for!</p>
    }
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Concept</h2>
        <p>
           <b>Favor</b> provides the fastest trade-offering service in the world surrounded by amazing people...
        </p>
        <p><a class="btn btn-primary btn-round" href="#"><i class="material-icons">change_history</i></a></p>
    </div>
    
    
    <div class="col-md-4 text-center">
        <h2>Staff</h2>
        <p>Learn more about the founders of this idea.</p>
        <p><button class="btn btn-primary btn-round text-center" data-toggle="modal" data-target="#myModal"><i class="material-icons">change_history</i></button></p>
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" 
                    style="
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-right: 30px;
                    border-right-width: 30px;
                    margin-right: 900px;">

                <div class="modal-content col-md-pull-12">
                    <div class="modal-header text-center">
                        <button type="button" class="close text-center" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body ">
                        SOME EPIC FUFCKING TEXT
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-danger btn-simple text-center" data-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    
    <div class="col-md-4 text-center">
        <h2>Help</h2>
        <p>Have any troubles or complains?</p>
        <button type="button" class="btn btn-primary btn-round text-center" data-toggle="popover" data-placement="top" title="FavorService@gmail.com">
        <i class="material-icons">change_history</i>
        </button>
    </div>
</div>