@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    @if (!this.User.Identity.IsAuthenticated)
    {   <h1>Favor service</h1>
        <p class="lead"><strong>Favor</strong> is an online platform which provides the most amazing offer-trading experience in the world built through an awesome community</p>
        <p class="text-center">100% satisfaction guarantee <i class="material-icons">done_all</i></p>
        <hr />
        <div class="text-center"><p><a href="/Account/Login" class="btn btn-primary btn-lg">Continue &raquo;</a></p></div>
    }
    else
    {<h1 class="text-center">Welcome to <b>Favor</b></h1>
    <p class="lead text-center">We hope you enjoy your stay here and find what you are looking for!</p>
    }
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Concept</h2>
        <p>
           <b>Favor</b> provides the fastest trade-offering service...
        </p>
        <p><a class="btn btn-primary btn-round" href="/Home/About"><i class="material-icons">change_history</i></a></p>
    </div>
    
    
    <div class="col-md-4 text-center">
        <h2>Staff</h2>
        <p>Learn more about the founders of this idea.</p>
        <p><button class="btn btn-primary btn-round text-center" data-toggle="modal" data-target="#myModal"><i class="material-icons">change_history</i></button></p>
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" 
                    style="
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-right: 30px;
                    border-right-width: 30px;
                    margin-right: 0px;">

                <div class="modal-content col-md-pull-12" style="background: url(../../Content/img/BG.png)">
                    <div class="modal-header">
                        <button type="button" class="close text-center" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" style="color:lightslategray" id="myModalLabel"><b>THE MOST AMAZING CREW EVER</b></h3>
                    </div>
                    <div class="modal-body col-md-12" 
                         style="background: url(../../Content/img/BG.png)">
                        
                        
                        <div class="col-md-3">
                            <div class="card card-signup">
                                <h3><b>Dorian</b></h3>
                                <a target="_blank" href="https://www.facebook.com/dorianslavovz">
                                    <img alt="Thumbnail Image" class="img-circle img-raised img-responsive"
                                         src="~/Content/img/BLUNTMAN.jpg" />
                                </a>
                                <h4><b>FrontEnd</b></h4>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <h3><b>Simon</b></h3>
                                <a target="_blank" href="https://www.facebook.com/simon.radev">
                                    <img alt="Thumbnail Image" class="img-circle img-raised img-responsive"
                                         src="~/Content/img/Simon.jpg" />
                                </a>
                                <h4><b>BackEnd</b></h4>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <h3><b>Nikola</b></h3>
                                <a target="_blank" href="https://www.facebook.com/nikola.yordanov.313">
                                    <img alt="Thumbnail Image" class="img-circle img-raised img-responsive"
                                         src="~/Content/img/nikola.jpg" />
                                </a>
                                <h4><b>BackEnd</b></h4>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <h3><b>Maiki</b></h3>
                                <a target="_blank" href="https://www.facebook.com/MaikalStoianov">
                                    <img alt="Thumbnail Image" class="img-circle img-raised img-responsive"
                                         src="~/Content/img/maiki.jpg" />
                                </a>
                                <h4><b>FrontEnd</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    
    <div class="col-md-4 text-center">
        <h2>Contact Us</h2>
        <p>Having any troubles or complains?</p>
            <a class="btn btn-primary btn-round text-center" href="/Home/Contact">
        <i class="material-icons">change_history</i>
        </a>
    </div>
</div>

