@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    @if (!this.User.Identity.IsAuthenticated)
    {   <h1>Favor service</h1>
        <p class="lead"><strong>Favor</strong> is an online platform which provides the most amazing offer-trading experience in the world built through an awesome community</p>
        <p class="text-center">100% satisfaction guarantee <i class="material-icons">done_all</i></p>
        <hr />
        <div class="text-center"><p><a href="/Account/Login" class="btn btn-primary btn-lg">Continue &raquo;</a></p></div>
    }
    else
    {<h1 class="text-center">Welcome to <b>Favor</b></h1>
    <p class="lead text-center">We hope you will enjoy your stay here and find what you are looking for</p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Idea</h2>
        <p>
            Our idea from <strong>Favor</strong> is to give you the fastest and easiest way to find the right person for the job. Because we all know how hard is to find someone for this nowadays or to make some cash.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staff</h2>
        <p>Learn more about the founders of this idea.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>Have any troubles or complains?</p>
        <button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" title="FavorService@gmail.com">Email us</button>
    </div>
</div>