@{
    ViewBag.Title = "Search";
}
<head>
</head>
<body>
@using (Html.BeginForm("SearchResult", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-md-8 col-md-offset-2 text-center container">
        <div class="card text-center">            
            <br />
            <br />
            <div class="text-center col-md-2 col-md-offset-5">
                <input type="text" class="form-control text-center" placeholder="Search..." />
            </div>  

                <div class="col-md-4  col-md-offset-4 dropdown">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-search"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Search Favors</a></li>
                        <li><a href="#">Search Users</a></li>
                    </ul>
                </div>
        </div>
    </div>
}

    <!-----SEARCH FAVORS---->
    
    <div class="col-md-8 col-md-offset-2">
        <div>
            <br />
            <br />
            <br />

            <table class="table">
                <thead>
                    <tr>

                        <th>Username</th>
                        <th>Favors</th>
                        <th>Accomplished</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Andrew Mike</td>
                        <td>Develop</td>
                        <td>2013</td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                <i class="fa fa-info"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-----END---->




    <!---->
    <div class="col-md-10 col-md-offset-1">
        <div>
            <br />
            <br />
            <br />

            <table class="table">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Date Posted</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Andrew Mike</td>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Date Posted</td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                <i class="fa fa-info"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!---->

</body>

