@model List<Favor.Data.User>

@{ 
    ViewBag.Title = "Admin Panel";
}

<!DOCTYPE html>

<html>
<head>

    <title></title>
</head>
<body>
    <div class="wrapper">
        <div class="container header header-filter" style="background-image: url(../../Content/img/rounded_corners.png);
            margin: -500px -100px -100px 0px; overflow:hidden; border-radius: 20px 20px
            ">

        </div>
        <div class="row col-md-offset-4">
            <div class="main main-raised col-md-6"
                 style="margin: -50px 100px 10px 10px">

                <div style="margin: -40px 8px 10px 10px">
                    <div class="name text-center">
                        <button class="btn btn-simple text-center">
                            <h1><b>Admin Panel</b></h1>
                        </button><br />

                        <div class="card">
                            <!--TABLE STARTS HERE-->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-left">Username</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int currUser = 0; currUser < Model.Count; currUser++)
                                    {
                                        var user = Model[currUser];

                                        <tr>
                                            <td class="text-left">@user.FullName</td>

                                            <td class="td-actions text-right">
                                                <script>
                                                    function ConfirmUserDelete(id) {
                                                        var x = confirm("Are you sure you want to delete the user?");
                                                        if (x)
                                                            window.location.href = "/Admin/DeleteUser?id=" + id;
                                                        else
                                                            return false;
                                                    }
                                                </script>

                                                <a href="#" Onclick="return ConfirmUserDelete(@user.Id);" type="submit" name="actiondelete" value="1" style="color:red; margin-top:-4px"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <!--TABLE ENDS HERE-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>
