@model List<Favor.Models.FavorModels.ListAllFavorsModel>

<h1>HI WE ARE DOING</h1>

@foreach (var singleFavorModel in Model)
{
    <div class="col-sm-6">
        <article>
            <header>
                <h2>
                    @Html.ActionLink(singleFavorModel.Title, "Details", "Favor", new { @id = singleFavorModel.Id }, null)
                </h2>
            </header>
            <p>
                @singleFavorModel.Description
            </p>
            <footer class="pull-right">
                <small class="author">
                    --author
                </small>
            </footer>
        </article>
    </div>

}