@model List<Favor.Models.FavorModels.ListAllFavorsModel>

@{
    ViewBag.Title = "Searching";
}

@{
    int previousPage = ViewBag.CurrentPage - 1;
    int nextPage = ViewBag.CurrentPage + 1;

    bool leftArrowIsActive = true;
    bool rightArrowIsActive = true;

    if (ViewBag.CurrentPage == 1)
    {
        previousPage = 1;

        leftArrowIsActive = false;
    }

    if (Model.Count < 5)
    {
        nextPage = ViewBag.CurrentPage;

        rightArrowIsActive = false;
    }
}

<br />
<br />
<div>
    <div class="text-center">
        <ul class="pagination pagination-primary">
            @if (leftArrowIsActive)
            {
                <li>@Html.ActionLink("<", "ListAllTypeSearch", "Favor", new { @currentPage = previousPage }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#"><</a></li>
            }
            <li class="active"><a href="#">@ViewBag.CurrentPage</a></li>
            @if (rightArrowIsActive)
            {
                <li>@Html.ActionLink(">", "ListAllTypeSearch", "Favor", new { @currentPage = nextPage }, null)</li>
            }
            else
            {
                <li class="fade"><a href="#">></a></li>
            }
        </ul>
    </div>

    @foreach (var singleFavorModel in Model)
    {
        <div class="wrapper">
             <div class="col-md-4">
                        <div class="card card-signup" style="margin-top:40px">
                            <form class="form" method="post">
                                <div class="header header-info text-center">
                                    <h2>@singleFavorModel.Title</h2>
                                </div>
                                <div class="col-md-6 col-md-push-3 input text-center">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">mail_outline</i>
                                        </span>
                                        <input class="form-control" data-val="true"
                                               data-val-email="The Email field is not a valid e-mail address."
                                               data-val-required="The Email field is required." id="Email" name="Email" type="text" value="" placeholder="Email">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">vpn_key</i>
                                        </span>
                                        <input type="password" placeholder="Password" name="Password" class="form-control" />
                                    </div>
                                    <br />
                                    <br />
                                    <div class="footer text-center">
                                        <input type="submit" value="Log In" class="btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="Finish Signing">
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
         
       

    }

</div>
