@model List<Favor.Models.FavorModels.ListAllFavorsModel>

@{
    ViewBag.Title = "Doing";
}

<h1>HI WE ARE SEARCHING</h1>

@foreach (var singleFavorModel in Model)
{
    <div class="col-sm-6">
        <article>
            <header>
                <h2>
                    <a href="/Favor/Details/@singleFavorModel.Id">@singleFavorModel.Title</a>
                </h2>
            </header>
            <p>
                @singleFavorModel.Description
            </p>
            <footer class="pull-right">
                <small class="author">
                   @singleFavorModel.FullName
                </small>
            </footer>
        </article>
    </div>

}