@model Favor.Data.User

@{
    ViewBag.Title = Model.FullName + "'s profile";
}

<head>
    <link href="~/Content/rotating-card.css" rel="stylesheet" />
</head>
<body class="profile-page">
    <br />
    <br />
    <br />

    <div class="wrapper">

        <div class="container header header-filter" style="background-image: url(../../Content/img/coolShit.png);
            margin: -600px -500px -50px -5px; ">
        </div>
        <div class="row">
            <div class="col-md-12 main main-raised"
                 style="margin: -50px 10px 10px 10px">

                <div class="profile" style="margin: -90px 0px 100px 10px">
                    <div class="name text-center">
                        <div class="card-container col-md-4 col-md-offset-4">
                            <div class="card">
                                <div class="front" style="height:100px">
                                    <div class="main">
                                        <h1>@Model.FullName</h1>
                                        <p class="text-center"><h5>Hover to send a message!</h5></p>

                                        @if (Favor.Data.MessageManager.MessageHasBeenSent)
                                        {
                                            <div class="alert alert-success" style="margin-top:110px">
                                                <div class="container-fluid">
                                                    <div class="alert-icon">
                                                        <i class="material-icons">check</i>
                                                    </div>
                                                    <b class="text-center">Message sent successfully!</b>
                                                </div>
                                            </div>

                                            Favor.Data.MessageManager.MessageHasBeenSent = false;
                                        }

                                    </div>
                                </div>
                                <!-- end front panel -->
                                <div class="back">
                                    <div class="content">
                                        <div class="main">
                                            <h1 style="margin: 5px 1px 0px 2px; opacity: 0.6">@Model.FullName</h1>

                                            <div class="col-md-12 text-center">
                                               
                                                @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                {
                                                    <input name="Title" type="text" placeholder="Title" class="form-control" >

                                                    <textarea name="Content" placeholder="Content" class="form-control" style="resize:vertical; height:140px"></textarea>

                                                    <input name="SenderEmail" type="text" class="fade" value="@User.Identity.Name" style="display: inline-block" />
                                                    <input name="ReceiverId" type="text" class="fade" value="@Model.Id " style="display: inline-block" />
                                                    <input type="submit" class="btn btn-primary btn-round" style="margin-bottom:-60px; display: inline-block" value="Send">
                                                }
                                                
                                            </div>





                                            <div class="stats-container">

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->




                </div>

            </div>
        </div>
    </div>



</body>
