@model Favor.Data.User

<html lang="en">
<head>
</head>
<body class="profile-page">
<br />
<br />
<br />

<div class="wrapper">
    
    <div class="container header header-filter" style="background-image: url(../../Content/img/coolShit.png);
            margin: -600px -500px -50px -5px; ">
        </div>
            <div class="row">
                <div class="col-md-12 main main-raised"
                     style="margin: -50px 10px 10px 10px" >
                    
                        <div class="profile" style="margin: -40px 10px 10px 10px">
                            <div class="name text-center">
                                <button class="btn btn-white text-center">
                                    <h1 class="title text-center">@Model.FullName</h1>
                                </button><br />
                               
                  

                    <div class="input text-center">

                        <div class="footer text-center">
                            <form action="/Manage/Index">
                                <input type="submit" value="Manage Profile" class="btn btn-danger btn-round" data-toggle="tooltip" data-placement="top" title="Profile Configuration">
                            </form>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-tabs">
                                    <div class="nav-align-center">
                                        <ul class="nav nav-pills" role="tablist">

                                            <li class="active">
                                                <a href="#MyFavors" role="tab" data-toggle="tab">
                                                    <i class="material-icons">style</i>
                                                    My Favors
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#PendingFavors" role="tab" data-toggle="tab">
                                                    <i class="material-icons">compare_arrows</i>
                                                    Pending
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#SentFavors" role="tab" data-toggle="tab">
                                                    <i class="material-icons">unarchive</i>
                                                    Sent
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#AccomplishedFavors" role="tab" data-toggle="tab">
                                                    <i class="material-icons">beenhere</i>
                                                    Accomplished
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#Messages" role="tab" data-toggle="tab">
                                                    <i class="material-icons">message</i>
                                                    Messages
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="tab-content col-md-offset-3">
                                            <div class="tab-pane active" id="MyFavors">
                                                <div class="row text-center">
                                                    <div class="col-md-12 col-md-pull-2">
                                                        <div>
                                                           
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <!----------------------------MY FAVORS--------------------------------> 
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Title</td>
                                                                        <td>50</td>
                                                                        <td class="td-actions text-right">
                                                                            <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                                                <i class="fa fa-info"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                                                <i class="fa fa-pencil"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                                <i class="fa fa-times"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                    <tr>
                                                                        <td>2</td>

                                                                        <td>Title</td>
                                                                        <td>Description</td>
                                                                        <td class="td-actions text-right">
                                                                            <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                                                <i class="fa fa-info"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                                                <i class="fa fa-edit"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                                <i class="fa fa-times"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>3</td>
                                                                        <td>Title</td>
                                                                        <td>Description</td>
                                                                        <td class="td-actions text-right">
                                                                            <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                                                <i class="fa fa-info"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                                                <i class="fa fa-edit"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                                <i class="fa fa-times"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>4</td>
                                                                        <td>Title</td>
                                                                        <td>Description</td>
                                                                        <td class="td-actions text-right">
                                                                            <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                                                <i class="fa fa-info"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                                                <i class="fa fa-edit"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                                <i class="fa fa-times"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>5</td>
                                                                        <td>Title</td>
                                                                        <td>Description</td>
                                                                        <td class="td-actions text-right">
                                                                            <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                                                <i class="fa fa-info"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                                                <i class="fa fa-edit"></i>
                                                                            </button>
                                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                                <i class="fa fa-times"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <!---------------------------------------------------------------->



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center" id="PendingFavors">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        asd <br /> asdf
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center" id="SentFavors">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        wtf
                                                    </div>
                                                    <div class="col-md-6">
                                                        OMG
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center" id="AccomplishedFavors">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        123
                                                    </div>
                                                    <div class="col-md-6">
                                                        OMG
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane text-center" id="Messages">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        OMG
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Profile Tabs -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div></div></div></div>

    </body>
